<ul class="pagination">
  <li class="waves-effect" *ngIf="currentPageProps > 1">
    <a [routerLink]="urlProps" [queryParams]="{page: currentPageProps - 1}"><i class="material-icons">chevron_left</i></a>
  </li>
  <li
    class="waves-effect"
    *ngFor="let page of pages"
    [ngClass]="{active: currentPageProps === page}"
  ><a [routerLink]="urlProps" [queryParams]="{page: page}">{{page}}</a>
  </li>
  <li class="waves-effect" *ngIf="pages.length > currentPageProps">
    <a [routerLink]="urlProps" [queryParams]="{page: currentPageProps + 1}"><i class="material-icons">chevron_right</i></a>
  </li>
</ul>
