<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a routerLink="/" class="brand-logo">Heroes App</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Heroes</a></li>
        <li routerLinkActive="active"><a routerLink="/new">Add hero</a></li>
      </ul>
    </div>
    <ul class="sidenav" id="mobile-demo" #sidenav>
      <li routerLinkActive="active"><a routerLink="/">Heroes</a></li>
      <li routerLinkActive="active"><a routerLink="/new">Add hero</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
