<div class="row">
  <div class="col s12 offset-m2 m8 offset-l3 l6" *ngFor="let hero of heroes">
    <div class="card">
      <div class="card-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb0Lz0UPYEjitv8Sl9hkNu5MNUmM3IiZ-tp9kA3VxfeM8OP0Wz&s">
      </div>
      <div class="card-content">
        <span class="card-title center">{{hero.nickName}}</span>
      </div>
      <div class="card-action">
        <a [routerLink]="hero._id">Show</a>
        <a [routerLink]="['/edit', hero._id]" class="right">Edit</a>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <app-pagination></app-pagination>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" routerLink="/new" >
    <i class="material-icons">add</i>
  </a>
</div>



